
nav ul{
  @include flexBox(row, center, space-around);
  height: 70px;
  width: 100%;
  color:white;
  background-color: rgb(61, 129, 255);

  li{
    display: flex;
    align-items: center;
    a{
      color:white;
    }
  }
}