
<nav>
  <ul>
    <li>
      <a href="/members">MEDLEMMAR</a>
    </li>
    <li>
      <a href="/index">HEM</a>
    </li>
    <li>
      <a href="/add-member">REGISTRERA NY MEDLEM</a>
    </li>
  </ul>
</nav>