<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <main>
 

  <div class="welcome-div">
    <h2>Älskar du också Böcker?</h2>
      <p><strong>Då har du kommit till rätt ställe!</strong></p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor repellendus praesentium possimus odio provident voluptatum, cumque alias dolores voluptatibus perspiciatis similique ratione est ullam impedit optio, illum fugit atque assumenda.</p>
  </div>



  

 </main>
 <%- include("./partials/footer.ejs") %>
</body>
</html>